# Imports
importing pandas and numpy for handling CSV data
importing matplotlib for graphical representations

In [31]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

# setting the correct directory and reading csv file data. Also, getting all of the column headers, if available

In [32]:
cwd = os.getcwd()
print(cwd)
dir = os.listdir()
print(dir)


df = pd.read_csv('netflix_titles.csv')

columns = list(df.head(0))
print(columns)

/Users/daven/Documents/School/Python/datasets
['Netflix.ipynb', '.ipynb_checkpoints', 'netflix_titles.csv']
['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added', 'release_year', 'rating', 'duration', 'listed_in', 'description']

In [33]:
# print(df[columns[0]])

# Accessing specific data
## access the nth row by the integer as a data series using one bracket
## access the nth row by the integer as a dataframe using two brackets

### if multiple rows are selected (via colon), then only one bracket is required. Two will yield an error. type will be dataframe

In [34]:
# df.loc[2:5]

In [35]:
# type(df.loc[[2]])
# df.loc[[2]]

# access the entire column by using two brackets. One bracket will not work
multiple columns can be selected, just space via a comma

## Instead of loc/iloc, the dataframe with a row/set of rows via a colon will display the rows of interest

In [36]:
# df[0:3]

In [37]:
# df.iloc[0:3]

In [38]:
# df[['type','director']]

print specific rows and columns of interest
either a list of rows or a sequential rows spaced by commas
columns must be identified by their name. Because the column names were previously placed in the _**column**_ list, I was able to call them from that list instead of typing each header.

In [41]:
row_interest = [522,6,757,800]
col_interest = columns[0:3] + columns[5:7]

In [42]:
# df.loc[row_interest,col_interest]

# using boolean operators to control the data in the dataframe

## filtering by boolean

First set of data is an example set due to non-numerical data in the netflix_titles.csv file

In [53]:
print(columns)

['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added', 'release_year', 'rating', 'duration', 'listed_in', 'description']

In [ ]:
data = {'ind': ['prior110', 'prior113', 'prior118', 'prior141', 'prior144', 'prior16', 'prior217', 'prior223', 'prior245', 'prior29', 'prior352', 'prior360', 'prior370', 'prior438', 'prior55', 'prior59', 'prior60', 'prior68', 'prior74', 'prior88'],
        'val': [13.96217, 10.861125, 21.304131, 11.309109, 11.363863, 14.479841, 10.403186, 14.201095, 7.974116, 17.401692, 9.860627, 12.339472, 16.207068, 16.381284, 20.587357, 10.452962, 15.828771, 16.769537, 16.918865, 9.805874]}

prior_fails = pd.DataFrame(data, columns=['ind', 'val'])
print(type(prior_fails))
prior_fails.set_index('ind', inplace=True)

prior_fails

In [ ]:
prior_fails.hist()
plt.ylabel('Frequency')
plt.title('Histogram')

In [59]:
print(type(df[['duration']]))
df[['duration']]

<class 'pandas.core.frame.DataFrame'>

       duration
0        90 min
1     2 Seasons
2      1 Season
3      1 Season
4     2 Seasons
...         ...
8802    158 min
8803  2 Seasons
8804     88 min
8805     88 min
8806    111 min

[8807 rows x 1 columns]

ValueError: hist method requires numerical or datetime columns, nothing to plot.